{% extends "bootstrap/base.html" %}


{% block title %}Subrata Indra{% endblock %}

{% block head %}
{{ super() }}





<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
	<h2> Contact Application </h2>


<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.allb') }}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('.addUser') }}">Add Contact</a></li>
            </ul>
		<ul class="nav navbar-nav">
                <li><a href="{{ url_for('.all') }}">Contact List</a></li>
            </ul>
        </div>
    </div>
</div>




{% endblock %}

{% block content %}

{% endblock %}


